<form [formGroup]="form" *ngIf="!isLogIn" (change)="ch()">
  <!--<div *ngIf="form.invalid">invalid</div>-->
  <!--<div *ngIf="!form.invalid">valid</div>-->
  <div *ngFor="let day of daysKeys; let i = index">
    <div formArrayName="{{day}}">

      <div class="form-group">
        <!--<label for="sunday"></label>-->

        <div *ngFor="let time of times(day).controls; let j = index">
          <div class="input-group"
               *ngIf="j % 2 == 0">

            <span class="input-group-text">{{DAYS_OF_WEEK[day] + ':'}}</span>
            <span class="input-group-text">From</span>
            <input id="sunday" type="time" class="form-control" [ngClass]="{'border-danger' : time.invalid}" formControlName="{{j}}">

            <span class="input-group-text">To</span>
            <input id="sunday2" type="time" class="form-control" [ngClass]="{'border-danger' : times(day).controls[j + 1].invalid}" formControlName="{{j + 1}}">

            <button class="btn btn-danger" (click)="removeTimeRange(day, j)">Remove range</button>
          </div>
        </div>

      </div>

      <button class="btn btn-success" (click)="addTimeRange(day)">Add range</button>
    </div>
  </div>


  <!--<button class="btn btn-success" (click)="submit()" [disabled]="form.invalid">Submit</button>-->

</form>
